type: "MARKDOWN_NOTE"
folder: "de772fc9c61061b43fe3"
title: "Cherry Picking"
content: '''
  # Cherry Picking
  ```sh
  git checkout master
  ```
  
  ```sh
  git cherry-pick <commit-hash>
  ```
'''
tags: []
isStarred: false
createdAt: "2017-06-22T08:11:33.069Z"
updatedAt: "2017-06-22T08:12:32.081Z"
